*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: helvetica, arial;
}

h1 {
  padding: 2vw;
  font-size: 3vw;
}

#no-spiel, #yes-spiel {
  padding: 2vw;
  font-size: 10vw;
  font-weight: bold;
  display: none;
}
