*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: helvetica, arial;
  font-size: 3vw;
  padding: 5vw;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


#input_text {
  font-family: helvetica, arial;
  font-size: 2vw;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
