video, canvas {
  margin-left: 5vw;
  margin-top: 120px;
  position: absolute;
}

#effectBlur {
  width: 100%;
  z-index: 100;
}

#effectYellow {
  margin-left: 5vw;
  margin-top: 120px;
  width: 640px;
  height: 480px;
  background-color: yellow;
  z-index: 1;
  position: absolute;
  opacity: .5;
  display: none;
}


#effectRed {
  margin-left: 5vw;
  margin-top: 120px;
  width: 640px;
  height: 480px;
  background-color: red;
  z-index: 1;
  position: absolute;
  opacity: .5;
  display: none;
}

#effectBlack {
  margin-left: 5vw;
  margin-top: 120px;
  width: 640px;
  height: 480px;
  background-color: red;
  z-index: 1;
  position: absolute;
  opacity: .6;
  display: none;
}

#effect5 {
  margin-left: 5vw;
  margin-top: 120px;
  width: 640px;
  height: 480px;
  background-color: green;
  z-index: 1;
  position: absolute;
  opacity: .50;
  display: none;
}

#questions {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin-left: 30vw;
  margin-top: 380px;
  text-align: center;
  float: right;
  width: 50%;
}

.language {
  font-family: 'Noto Sans', sans-serif;
  font-size: 48px;
  text-align: center;
  padding: 10px;
  color: white;
  border-radius: 50px;
  z-index: 10;
  position: absolute;
  display: none;
}

#thanks {
  background-color: #ff1744;
  transform: rotate(30deg);
  width: 230px;
}

#year {
  background-color: #ff1744;
  transform: rotate(-30deg);
  width: 150px;
}

#day {
  background-color: #ff1744;
  transform: rotate(20deg);
  width: 220px;
}

#scared {
  background-color: #ff1744;
  transform: rotate(-20deg);
  width: 300px;
}

#dot {
  background-color: #FFEB3B;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  position: absolute;
}

#triangle {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid #304FFE;
  position: absolute;
}

#square {
  background-color: #76FF03;
  width: 50px;
  height: 50px;
  position: absolute;
}
