body, html {
  margin: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding-top: 2vw;
  font-family: helvetica;
}

a {
  margin: 0 auto;
  font-size: 20px;
}

h1 {
  font-size: 50px;
  font-weight: 400;
}

h2 {
  font-size: 20px;
  font-weight: 400;
  opacity: .5;
}

#response {
  margin-top: 10vw;
  font-size: 50px;
  color: grey;
}

#response-translated {
  font-size: 50px;
}

.output {
  margin-top: 10vw;
  font-size: 50px;
}
